{% extends 'base.html' %}
{% block nav %}
<main>
  <div class="container col s12 m9 l9">
    <h4> here are your posts!</h4>

<div class="row">


{% for p in posts %}

<div class = " col s12 m4 l4">
  <div class = "card  hoverable" action="/web">


      <p class="card-content truncate">
        <span class="card-title centre">
            {{p.title}}
        </span>
        {{p.content}}
        {{p.date}}
      </p>


      <div class="card-action">
             <p>
               {{p.date}}
             </p>
             <a href="/blog/post/{{p.postid}}/edit">Edit</a>
              <a href="/blog/post/{{p.postid}}/delete">delete</a>

           </div>




  </div>
</div>
{% endfor %}
</div>

  </div>

</main>

{% endblock %}
